.app{
    position: relative;
}

.header{
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: transparent; */
    min-height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header__logo{
    margin-left: 68px;
    width: 160px;
    height: 38px;
}

.header__logo img{
    width: 100%;
    height: 100%;
}

.header__nav{
    margin-right: auto;
}

.header__nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav-item{
    display: block;
    position: relative;
    padding: 25px 15px;
}

.nav-item__subnav-item:hover .subnav-item__subnav2,
.header__nav-item:hover .nav-item__subnav{
    display: block;
}

.header__nav-item a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    /* text-shadow: 0 0 2px var(--black-color); */
}

.header__menu{
    font-size: 3rem;
    padding: 20px;
    margin-right: 48px;
    color: var(--white-color);
    cursor: pointer;
}

.nav-item__subnav{
    list-style: none;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 0 2px rgb(218, 218, 218);
    border-radius: 2px;
    display: none;

}
.nav-item__subnav-item,
.subnav-item__subnav2-item{
    background-color: var(--white-color);
    height: 48px;
    min-width: 180px;
    border-bottom: 1px solid rgb(248, 248, 248);
    padding-left: 32px;
    position: relative;
    line-height: 48px;
}

.nav-item__subnav-item:hover,
.subnav-item__subnav2-item:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.nav-item__subnav-item a{
    color: var(--text-color);
    font-size: 1.4rem;    
}

.subnav-item__subnav2{
    list-style: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0;
    box-shadow: 0 0 2px rgb(218, 218, 218);
    border-radius: 2px;
    display: none;
}

.subnav-item__subnav2-item{
    height: 48px;
    min-width: 168px;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-left: 32px;
    position: relative;
}

.nav-item__subnav-item i{
    color: var(--text-color);
    font-size: 1.3rem;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.header__input{
    display: none;
}

.header__input:checked ~ .header__overlay{
    transform: translateX(0);
    opacity: 1;
}

/* Overlay */
.header__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 340px;
    max-width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 2px rgb(214, 212, 212);
    overflow-y: scroll;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s linear;
}

.header__overlay--close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.8rem;
    color: var(--text-color);
    cursor: pointer;
}

.quick-order{
    padding: 28px;
}

.quick-order__header{
    font-size: 2.5rem;
    text-align: center;
}

.quick-order-place{
    display: flex;
    padding-top: 32px;
}

.quick-order-place__img{
    width: 100px;
}

.quick-order-place__info{
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quick-order-place__info-country{
    font-size: 2rem;
    text-decoration: none;
    color: var(--black-color);
}

.quick-order-place__info-from{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.quick-order-place__info-price{
    font-size: 1.4rem;
}

.header__overlay-dest{
    background-image: url(../img/europe.jpg);
    background-size: 100%;
    width: 260px;
    height: 260px;
    margin: 28px;
    position: relative;
}

.header__overlay-dest img{
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dest{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.4rem;
    color: var(--white-color);
}


/* Search */
.search{
    min-height: 872px;
    position: relative;
    /* background-image: url(../img/backgound-search.jpg); */
    top: calc(-1 * var(--height-header));
}

.search video{
    width: 100vw;
    /* height: 110vh;   */
}

.search-body{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.search__heading{
    color: var(--white-color);
    font-size: 5rem;
    margin-top: 180px;
    text-shadow: 0 0 2px var(--black-color);
    line-height: 1.4;
}

.search__text{
    color: var(--white-color);
    font-size: 2rem;
    padding-top: 28px;
    padding-bottom: 64px;
    text-shadow: 0 0 2px var(--black-color);
}

.search__choose{
    padding: 0 20px;
    position: relative;
}

.search__choose i{
    color: var(--text-color);
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 12px;
}

.search__choose select{
    width: 400px;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 12px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}

.search__choose section::-ms-expand {
    display: none;
}

.search__img{
    display: flex;
    margin-top: 72px;
    justify-content: center;
}
.inner{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px 32px;
    margin: 0 16px;
    cursor: pointer;
    align-items: center;
}

.inner img{
    width: 60px;
}

.inner span{
    font-size: 1.2rem;
    color: var(--white-color);
    letter-spacing: 0.2rem;
    padding-top: 16px;
}

/* PLACES */

.places{
    padding-bottom: 24px;
}

.places:hover .places__item{
    display: none;
}

.places:hover .hold{
    display: flex;
}

.places__header{
    font-size: 3.6rem;
    text-align: center;
    margin: 0;
}

.places__text{
    text-align: center;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 16px 0 40px 0;
}

.places__item{
    height: 370px;
    background-size: 100%;
    position: relative;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    /* display: none; */
}

.places__item img{
    position: absolute;
    top: 32px;
    left: 32px;
    width: 60px;
}

.places__item-text{
    position: absolute;
    left: 32px;
    bottom: 32px;
    color: var(--white-color);
}

.places__item-text h4{
    font-size: 2.4rem;
    margin: 8px 0;
    text-shadow: 0 0 2px var(--black-color);
}

.places__item-text span{
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-shadow: 0 0 2px var(--black-color);
}

.hold{
    background-color: var(--blue-color);
    height: 370px;
    color: var(--white-color);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    animation: In 0.8s linear;
}

.hold__heading{
    font-size: 2rem;
}

.hold span{
    font-size: 1.4rem;
    margin: 4px 0;
}

.hold a{
    color: var(--blue-color);
    font-size: 1.4rem;
    margin-top: 8px;
}

@keyframes In{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.banner{
    margin-top: 82px;
    margin-bottom: 108px;
    /* height: 234px; */
    /* background-image: url(../img/backgound-content.jpg); */
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.banner__heading h3{
    font-size: 5rem;
    color: var(--white-color);
}

.banner a{
    color: var(--red-color);
    font-size: 1.4rem;
    letter-spacing: 2px;
}

/* BOOK */

.book{
    margin-top: 108px;
}

.book-description{
    height: 412px;
    position: relative;
    text-align: left;
}

.book-description__heading{
    font-size: 3.6rem;
    color: var(--black-color);
    margin: 8px 0 20px 0;
    line-height: 1;
    /* width: 100%; */
}

.book-description__subheading{
    font-size: 1.4rem;
    color: var(--text-color);
    letter-spacing: 2px;
}

.book-description__text{
    font-size: 1.4rem;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.8;
    padding: 16px 0;
}

.book-description__price{
}

.book-description__price-old{
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: line-through;
}

.book-description__price-present{
    font-size: 3rem;
    color: var(--black-color);
}

.book-description__price span:last-child{
    font-size: 1.4rem;
    color: var(--text-color);
}

.book-description__btn{
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    /* left: 0; */
}

.book-count{
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
}

.book-count__img{
    width: 100%;
    height: 412px;
}

.book-count__time{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue-color);
    color: var(--white-color);
    width: 490px;
    height: 114px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
}

.book-count__time-item{
    text-align: center;
    position: relative;
}

.book-count__time-item:nth-child(1)::after,
.book-count__time-item:nth-child(2)::after,
.book-count__time-item:nth-child(3)::after{
    content: "/";
    position: absolute;
    font-size: 6rem;
    font-weight: 100;
    top: 32px;
    right: -46px;
}

.book-count__time-item div{
    font-size: 3.5rem;
    padding: 16px 0;
}

.book-count__time-item span{
    font-size: 1.4rem;
}

.summary{
    margin-top: 108px;
}

.summary-item{
    display: flex !important;
    height: 162px;
}

.summary-item__img{
    width: 50px;
    height: 50px;
}

.summary-item__body{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.summary-item__body-heading{
    padding: 0;
    font-size: 2.4rem;
    margin: 0;
}

.summary-item__body-text{
    font-size: 1.4rem;
    color: var(--text-color);
    letter-spacing: 2px;
    margin: 24px 0;
    line-height: 1.6;
}

.summary-item__body-link{
    font-size: 1.4rem;
    color:  var(--blue-color);
    text-decoration: none;
}

.discover{
    /* width: 50%; */
    height: 234px;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.discover h5{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;

}

.discover h2{
    font-size: 3.6rem;
    margin: 24px 0 40px 0;
}

.discover--cities{
    background-image: url(../img/banner/parallax-5-filter.jpg);
}

.discover--cities div{
    font-size: 1.4rem;
    color: var(--red-color);
    letter-spacing: 1px;
}

.discover--nature{
    background-image: url(../img/banner/parallax-6-filter.jpg);
}

.discover--nature div{
    font-size: 1.4rem;
    color: var(--green-color);
    letter-spacing: 1px;
}

/* BACKAGES */

.package{
    height: 608px;
}
.packages__heading{
    /* margin: 108px 0 16px 0; */
    margin-bottom: 16px;
    font-size: 3.6rem;
    color: var(--black-color);
    text-align: center;
}
.packages__text{
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
    font-weight: 300;
}
.package__img{
    height: 230px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.package__img-icon{
    /* background-color: var(--yellow-color); */
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
}

.package__img-icon img{
    width: 60%;
    margin: 20%;
}
.package__place h3{
    font-size: 2rem;
    margin: 0;
}
.package__place h5{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    margin: 12px 0 20px 0;
}
.package__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
.package__price-text{
    padding: 12px 0;
}
.package__price-text h6{
    font-size: 1.3rem;
    margin: 0;
    font-weight: 400;
    color: var(--black-color);
    line-height: 1.6;
}
.package__price-int{
    font-size: 2.5rem;
    color: var(--black-color);
}
.package__price-content{
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.6;
    letter-spacing: 2px;
    display: block;
    padding: 32px 0;
}
.package-btn{
    font-size: 1.4rem;
}
/* FOOTER */
.footer{
    margin-top: 108px;
    background-image: url(../img/footer/parallax-7.jpg);
    background-size: 100%;
    min-height: 628px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 80px;
    margin-bottom: 64px;
}
.contact__text h4{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.contact__text h2{
    color: var(--black-color);
    font-size: 3.6rem;
    margin-bottom: 6px;
}

.contact__btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.contact__btn-input{
    width: 240px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.6rem;
    padding-left: 16px;
    margin-right: 16px;
}
.contact__btn-submit{
    font-size: 1.6rem;
    padding: 10px 24px;
}

.info-categorys{
    background-color: var(--white-color);
}

.info,
.categorys{
    padding: 50px;
}

.info-description__img{
    width: 160px;
}

.info-description__text{
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 24px 0;
}

.info-description__socials img{
    width: 24px;
    margin-right: 24px;
}
.categorys{
    display: flex;
    justify-content: space-between;
}

.category__heading{
    font-size: 1.4rem;
    color: var(--black-color);
    letter-spacing: 2px;
}

.category__list{
    list-style: none;
    padding: 24px 0 0 0;
}

.category__item{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 0;
}
.category__item i{
    margin-right: 8px;
}

