@media (max-width: 1307px){
    .search video{
        width: 110%;
        height: 840px;
    }
}

@media (max-width: 1023px){
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__nav{
        display: none;
    }
    .header__logo{
        margin: 16px 0 0 0 ;
    }
    .header__menu{
        margin: 0;
    }

    .search{
        background-image: url(../img/backgound-search.jpg);
    }

    .search video{
        display: none;
    }

    .search video{
        display: none;
    }
    .search__heading{
        margin-top: 300px;
    }
 
    .search__img{
        flex-wrap: wrap;
    }

    .inner{
        width: 43%;
        margin: 8px 16px;
    }
}

@media (min-width: 740px) and (max-width: 1023px){

}

@media (max-width: 730px){


}